<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Security - SPA</a>


  <button class="btn btn-primary my-2 my-sm-0 mr-2"
  routerLink="/" type="button">
    Home
</button>

<button id="Login"
class="btn btn-primary my-2 my-sm-0 mr-2"
*ngIf="!auth.isAuthenticated()"
  (click)="auth.login()" type="button">
    Log In
</button>

<button id="LogOut"
class="btn btn-primary my-2 my-sm-0 mr-2"
  *ngIf="auth.isAuthenticated()"
  (click)="auth.logout()" routerLink="/home" type="button">
    Log Out
</button>


  <!-- <button class="btn btn-primary my-2 my-sm-0 mr-2"
  *ngIf="auth.isAuthenticated()"
    routerLink="/api" type="button">
      API
  </button> -->

  <!-- <button class="btn btn-primary my-2 my-sm-0 mr-2"
    routerLink="/404" type="button">
      notfound
  </button> -->
  
</nav>


<main role="main" class="container">
<router-outlet></router-outlet>
</main>